$white-bg: white;
$white-fg-1: black;
$white-fg-2: gray;
$white-fg-3: lightgrey;

$black-bg: black;
$black-fg-1: white;
$black-fg-2: lightgray;
$black-fg-3: gray;

:root {
  --bg: #{$white-bg};
  --fg-1: #{$white-fg-1};
  --fg-2: #{$white-fg-2};
  --fg-3: #{$white-fg-3};

  @media (prefers-color-scheme: dark) {
    --bg: #{$black-bg};
    --fg-1: #{$black-fg-1};
    --fg-2: #{$black-fg-2};
    --fg-3: #{$black-fg-3};
  }
}

@font-face {
  font-family: "Iosevka";
  src: url("assets/iosevka.ttf");
}

.App {
  &.dark {
    --bg: #{$black-bg};
    --fg-1: #{$black-fg-1};
    --fg-2: #{$black-fg-2};
    --fg-3: #{$black-fg-3};
  }

  &.light {
    --bg: #{$white-bg};
    --fg-1: #{$white-fg-1};
    --fg-2: #{$white-fg-2};
    --fg-3: #{$white-fg-3};
  }

  width: 100%;
  height: 100%;
  padding: 1rem;

  background-color: var(--bg);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  font-family: "Iosevka";

  transition-property: background-color;
  transition-duration: 300ms;

  & > div {
    & > label {
      & > input {
        background-color: var(--bg);
        color: var(--fg-1);
        transition-property: background-color;
        transition-duration: 300ms;

        font-family: "Iosevka";
        line-height: 3rem;
        font-size: 2rem;
        outline: none;
        border: none;
      }
    }
  }
}

.symbolWrapper {
  display: flex;
  flex-direction: "row";
  font-size: 2rem;
  & > .symbol {
    user-select: none;
    -webkit-user-select: none;

    & > button {
      outline: none;
      border: none;
      margin: 0;
      font-family: "Iosevka";
      background-color: var(--bg);
      color: var(--fg-1);
      transition-property: background-color;
      transition-duration: 300ms;
      font-size: 2rem;
      line-height: 3rem;

      &:hover {
        cursor: pointer;
        background-color: var(--fg-3);
      }
    }
    & > div {
      text-align: center;
      color: var(--fg-3);
      pointer-events: none;
    }
  }
}

.theme {
  outline: none;
  border: none;

  background-color: var(--bg);
  color: var(--fg-3);

  aspect-ratio: 1;
  border-radius: 5px;

  opacity: 20%;

  &:hover {
    cursor: pointer;
  }
}
